.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  position: fixed;
  background: transparent !important;
}

.res {
  padding-top: 15px;
  white-space: pre-wrap;

}

input {
  background-color: transparent !important;
  color: white !important;
}

input::placeholder{
  color: white !important;
}

.m-emoji{
  font-size: 70px;
}

.has-image-centered {

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

a{
  color: #d1ff02 !important;
  text-decoration: none !important;
}